<div class="user">
<h1><%= link_to user.username, user_path(user.id) %></h1>

<div id="avatar"></div>

<h2 id="species"><%= user.species %></h2>
<p>registered on <%= user.created_at %></p>
<p><%= user.subscribers.count %> followers | <%= link_to 'following', post_path(user.id)%> <%= user.favorite_posters.count %> users</p>
</div>
